@import url("owl/owl.carousel.min.css");
@import url("owl/owl.theme.default.min.css");
* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  font-family: "Roboto Condensed", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 900 !important;
  font-style: normal;
  color: #A71135 !important; }
  h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
    font-family: "Roboto Condensed", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 900 !important;
    font-style: normal; }

.container {
  width: 100% !important;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 576px) {
    .container {
      width: 90% !important; } }
  @media screen and (min-width: 768px) {
    .container {
      width: 80% !important; } }

.card {
  background: none;
  border: 0; }

.v-one .card-title {
  color: #A71135; }
  .v-one .card-title span {
    color: white !important;
    display: block; }
.v-one .card-text {
  color: white !important; }

header {
  background-image: url("../images/bg-main-menu-nav.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  header nav {
    padding-top: 0 !important;
    padding-bottom: 0 !important; }
    header nav .navbar-brand {
      width: 130px; }
      header nav .navbar-brand img {
        width: 100%; }
    header nav .menu-box ul {
      text-align: center; }
      header nav .menu-box ul li a {
        color: white !important;
        font-weight: 200 !important;
        transition: 0.3s ease; }
        header nav .menu-box ul li a:hover {
          font-weight: 500 !important; }
    header nav .menu-box .navbar-main li a {
      font-size: 22px; }
    header nav .menu-box .navbar-login {
      padding: 0; }
      header nav .menu-box .navbar-login li {
        text-align: center; }
        header nav .menu-box .navbar-login li a {
          color: #17256B !important;
          background-color: white !important;
          display: block;
          padding: 10px 10px 0 10px;
          position: relative;
          border-radius: 0 0 20px 20px;
          padding-bottom: 10px;
          margin-bottom: -23px;
          box-shadow: 1px 1px 30px black;
          font-size: 18px; }
          header nav .menu-box .navbar-login li a img {
            width: 70px; }
          header nav .menu-box .navbar-login li a span {
            display: block;
            font-family: "Roboto Condensed", sans-serif !important;
            font-optical-sizing: auto !important;
            font-weight: 900 !important;
            font-style: normal; }

section.baner-principal {
  background-image: url("../images/main-img-banner-1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  section.baner-principal .container {
    padding: 4rem 0; }
    section.baner-principal .container .card-body {
      max-width: 500px; }
      section.baner-principal .container .card-body .card-title {
        font-size: 60px; }
      section.baner-principal .container .card-body .btn {
        background-color: #17256B !important;
        border-color: #B2965F !important;
        border: 2px solid;
        color: white !important;
        font-weight: bold !important;
        font-size: 25px;
        border-radius: 16px;
        padding: 8px 17px; }
        section.baner-principal .container .card-body .btn span {
          display: inline-block;
          width: 39px;
          vertical-align: middle;
          margin-top: -12px;
          margin-left: 9px; }
          section.baner-principal .container .card-body .btn span img {
            width: 100%;
            vertical-align: inherit; }
        section.baner-principal .container .card-body .btn::after {
          content: "";
          background-image: url("../images/arrow-right-white.png");
          background-position: center;
          background-size: cover;
          display: inline-block;
          width: 14px;
          height: 19px;
          margin-left: 12px; }

section.n_views {
  background-image: url("../images/red-cinta8202024.png");
  background-size: cover;
  background-repeat: no-repeat; }
  section.n_views .container {
    padding-top: 2rem;
    padding-bottom: 2rem; }
    section.n_views .container .row p {
      color: white !important;
      margin: 0;
      font-family: "Roboto Condensed", sans-serif !important;
      font-optical-sizing: auto !important;
      font-weight: 900 !important;
      font-style: normal;
      font-style: italic;
      font-size: 45px; }
      section.n_views .container .row p span {
        font-family: "Roboto Condensed", sans-serif !important;
        font-optical-sizing: auto !important;
        font-weight: 900 !important;
        font-style: normal; }

section.about_us {
  background-image: url("../images/baner-about-us.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center; }
  section.about_us .container {
    background: none; }
    section.about_us .container .row div {
      align-content: center; }
      section.about_us .container .row div div .card-title {
        font-size: 45px;
        font-weight: bolder; }
        @media screen and (min-width: 768px) {
          section.about_us .container .row div div .card-title {
            font-size: 95px;
            line-height: 76px; } }

section.whats_bulls_pedia {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center; }
  section.whats_bulls_pedia .container {
    background: none; }
    section.whats_bulls_pedia .container .row div {
      align-content: center; }
      section.whats_bulls_pedia .container .row div div .card-title {
        font-size: 45px;
        font-weight: bolder;
        font-size: 55px; }
        @media screen and (min-width: 768px) {
          section.whats_bulls_pedia .container .row div div .card-title {
            font-size: 95px;
            line-height: 76px; } }
        section.whats_bulls_pedia .container .row div div .card-title span {
          font-size: 95px; }

section.register_comunity .container form {
  margin: 0; }

section.the_best_american_bullies,
section.future-products {
  background-size: cover;
  background-position: center;
  padding: 30px 0 120px;
  background-repeat: no-repeat; }
  section.the_best_american_bullies .container > .card-title,
  section.future-products .container > .card-title {
    font-size: 45px;
    text-align: center;
    padding-top: 25px; }
  section.the_best_american_bullies .container .owl-carousel .owl-stage-outer .owl-stage .owl-item,
  section.future-products .container .owl-carousel .owl-stage-outer .owl-stage .owl-item {
    justify-content: center;
    display: flex;
    flex-wrap: wrap; }
    section.the_best_american_bullies .container .owl-carousel .owl-stage-outer .owl-stage .owl-item .card,
    section.future-products .container .owl-carousel .owl-stage-outer .owl-stage .owl-item .card {
      max-width: 270px;
      text-align: center; }
      section.the_best_american_bullies .container .owl-carousel .owl-stage-outer .owl-stage .owl-item .card .card-body,
      section.future-products .container .owl-carousel .owl-stage-outer .owl-stage .owl-item .card .card-body {
        padding: 0;
        border: 4px solid #A71135 !important;
        border-radius: 29px;
        overflow: hidden; }
        section.the_best_american_bullies .container .owl-carousel .owl-stage-outer .owl-stage .owl-item .card .card-body img,
        section.future-products .container .owl-carousel .owl-stage-outer .owl-stage .owl-item .card .card-body img {
          width: 100%; }
        section.the_best_american_bullies .container .owl-carousel .owl-stage-outer .owl-stage .owl-item .card .card-body div,
        section.future-products .container .owl-carousel .owl-stage-outer .owl-stage .owl-item .card .card-body div {
          position: relative;
          height: 100px;
          z-index: 0;
          align-content: center; }
          section.the_best_american_bullies .container .owl-carousel .owl-stage-outer .owl-stage .owl-item .card .card-body div::before,
          section.future-products .container .owl-carousel .owl-stage-outer .owl-stage .owl-item .card .card-body div::before {
            background-image: url("../images/bestDogBG.png");
            position: absolute;
            background-size: cover;
            background-repeat: no-repeat;
            content: "";
            height: 190%;
            width: 100%;
            z-index: -1;
            left: 0;
            bottom: 0; }
          section.the_best_american_bullies .container .owl-carousel .owl-stage-outer .owl-stage .owl-item .card .card-body div .card-title,
          section.future-products .container .owl-carousel .owl-stage-outer .owl-stage .owl-item .card .card-body div .card-title {
            padding: 10px 10px 30px;
            color: white !important;
            margin: 0; }
      section.the_best_american_bullies .container .owl-carousel .owl-stage-outer .owl-stage .owl-item .card > a,
      section.future-products .container .owl-carousel .owl-stage-outer .owl-stage .owl-item .card > a {
        color: white !important;
        font-weight: 200 !important;
        margin-top: 1rem; }
  section.the_best_american_bullies .container .owl-carousel .owl-nav,
  section.future-products .container .owl-carousel .owl-nav {
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    width: 100%;
    justify-content: space-between;
    height: 0; }
    section.the_best_american_bullies .container .owl-carousel .owl-nav button,
    section.future-products .container .owl-carousel .owl-nav button {
      width: 40px;
      height: 53px;
      position: relative; }
      section.the_best_american_bullies .container .owl-carousel .owl-nav button.disabled,
      section.future-products .container .owl-carousel .owl-nav button.disabled {
        opacity: 0;
        transition: 0.2s; }
      section.the_best_american_bullies .container .owl-carousel .owl-nav button.owl-prev,
      section.future-products .container .owl-carousel .owl-nav button.owl-prev {
        margin-left: -40px; }
        @media screen and (max-width: 768px) {
          section.the_best_american_bullies .container .owl-carousel .owl-nav button.owl-prev,
          section.future-products .container .owl-carousel .owl-nav button.owl-prev {
            margin-left: 0 !important; } }
        section.the_best_american_bullies .container .owl-carousel .owl-nav button.owl-prev::after,
        section.future-products .container .owl-carousel .owl-nav button.owl-prev::after {
          content: "";
          background-image: url("../images/arrow-left.png");
          background-position: center;
          background-size: cover;
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0; }
      section.the_best_american_bullies .container .owl-carousel .owl-nav button.owl-next,
      section.future-products .container .owl-carousel .owl-nav button.owl-next {
        margin-right: -40px; }
        @media screen and (max-width: 768px) {
          section.the_best_american_bullies .container .owl-carousel .owl-nav button.owl-next,
          section.future-products .container .owl-carousel .owl-nav button.owl-next {
            margin-right: 0 !important; } }
        section.the_best_american_bullies .container .owl-carousel .owl-nav button.owl-next::after,
        section.future-products .container .owl-carousel .owl-nav button.owl-next::after {
          content: "";
          background-image: url("../images/arrow-right.png");
          background-position: center;
          background-size: cover;
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0; }
      section.the_best_american_bullies .container .owl-carousel .owl-nav button span,
      section.future-products .container .owl-carousel .owl-nav button span {
        font-size: 20px;
        color: transparent; }

section.the_best_american_bullies .container > .card-title {
  margin-bottom: 55px; }

section.order-certificate {
  position: relative; }
  section.order-certificate > img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: block;
    z-index: -1; }
  section.order-certificate .container .left {
    align-content: center; }
    section.order-certificate .container .left .card-body .card-title, section.order-certificate .container .left .card-body span {
      font-size: 45px;
      font-style: italic;
      line-height: 1; }
    section.order-certificate .container .left .card-body .card-text {
      font-size: 22px; }
  section.order-certificate .container .right .card-body {
    background-image: url("../images/mosaico-bg.png");
    text-align: center;
    padding: 30px 0;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -56px;
    margin-bottom: -46px;
    border-radius: 25px; }
    section.order-certificate .container .right .card-body .card-title {
      color: #A71135 !important;
      font-style: italic;
      font-size: 35px; }
      section.order-certificate .container .right .card-body .card-title span {
        display: block;
        color: #17256B !important;
        font-size: 55px; }
    section.order-certificate .container .right .card-body .card-text {
      width: 300px;
      margin-left: auto;
      margin-right: auto; }
      section.order-certificate .container .right .card-body .card-text.textBlue {
        color: #17256B !important;
        font-size: 20px;
        max-width: 200px;
        line-height: 17px;
        font-weight: bolder !important;
        margin-top: 15px; }
    section.order-certificate .container .right .card-body .btnCertificate {
      background-image: url("../images/bg-main-menu-nav.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      display: inline-block;
      padding: 7px 20px 5px;
      color: white !important;
      box-shadow: 1px 1px 10px black;
      border-radius: 10px;
      margin-bottom: 35px;
      margin-top: 10px;
      font-size: 25px;
      font-weight: 600 !important; }
      section.order-certificate .container .right .card-body .btnCertificate::after {
        content: "";
        background-image: url("../images/arrow-right-white.png");
        background-position: center;
        background-size: cover;
        display: inline-block;
        width: 22px;
        height: 30px;
        margin-left: 12px;
        margin-bottom: -6px; }
    section.order-certificate .container .right .card-body .lineaDivisora {
      display: block;
      background-image: url("../images/lineaDivisora.png");
      background-size: cover;
      color: transparent; }

section.future-products {
  background-size: cover;
  padding: 120px 0 30px; }
  section.future-products .container > .card-title {
    color: white !important;
    font-size: 55px; }

section.the_best_events {
  padding-left: 0;
  padding-right: 0; }
  section.the_best_events img {
    width: 100%; }

footer {
  position: relative; }
  footer .cintaTextContactanos {
    position: absolute;
    top: 50%; }
    footer .cintaTextContactanos .tag-side-span {
      display: block;
      color: white !important;
      font-size: 35px; }
      footer .cintaTextContactanos .tag-side-span.tag-left {
        transform: rotate(270deg);
        left: 0; }
      footer .cintaTextContactanos .tag-side-span.tag-right {
        transform: rotate(90deg);
        right: 0; }
  footer .img-bg-footer {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: block;
    z-index: -1; }

/*# sourceMappingURL=main.css.map */
