* {
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  color: #2c3e50; }

a {
  color: #7B4AE2;
  font-size: clamp(15px, 1.5vw, 18px); }

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #090E16; }

header, footer {
  display: block;
  padding: 20px 0; }

h1 {
  font-size: clamp(20px, 3vw, 4rem); }

p {
  margin-bottom: 1rem; }

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

section {
  margin: 20px 0; }

h2 {
  color: #fff;
  border-bottom: 2px solid #7B4AE2;
  padding-bottom: .25rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
  display: inline-block; }

section {
  margin-top: 4rem; }
  section > h2 {
    min-width: 160px;
    position: relative;
    top: 50%;
    left: calc(50% - 80px);
    text-align: center;
    margin-bottom: 2rem; }
  section h3 {
    color: #9A9A9A; }
  section ul li {
    background: #2c3e50;
    color: #9A9A9A;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px; }

section.BanerPrincipal {
  margin: 0;
  position: relative;
  border-bottom: 2px solid;
  border-top: 2px solid;
  border-color: #9A9A9A; }
  section.BanerPrincipal::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.43);
    top: 0;
    left: 0; }
  section.BanerPrincipal .container {
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: end; }
    section.BanerPrincipal .container h1, section.BanerPrincipal .container p {
      color: #fff;
      text-shadow: 0 0 10px #2c3e50, 0 0 15px black, 0 0 30px rgba(0, 0, 0, 0.9); }
    section.BanerPrincipal .container p {
      color: #fff; }
  section.BanerPrincipal img {
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: -1;
    object-fit: cover; }

section.SectionSkills .container ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 1rem;
  justify-content: center; }
  section.SectionSkills .container ul li {
    margin: 0;
    border-radius: 18px;
    color: #9A9A9A;
    background-color: #2c3e50; }

section.SectionAbout .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  section.SectionAbout .container .subContainer {
    display: inline-block;
    width: max(50%, 320px); }
    section.SectionAbout .container .subContainer img {
      width: 320px;
      display: block;
      margin: 0 auto;
      border-radius: 50%; }
    @media (width < 768px) {
      section.SectionAbout .container .subContainer p {
        text-align: justify; } }

section.SectionExperiencia .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px; }
  @media (width < 780px) {
    section.SectionExperiencia .container {
      justify-content: center; } }
  section.SectionExperiencia .container .cardWork {
    width: max(340px, calc(50% - 50px));
    border: 1px solid #2c3e50;
    padding: 1rem;
    border-radius: 10px;
    position: relative;
    padding-bottom: 3rem;
    margin-bottom: 1rem; }
    section.SectionExperiencia .container .cardWork h3 {
      font-size: 24px; }
    section.SectionExperiencia .container .cardWork h4 {
      color: #7B4AE2;
      font-size: 18px;
      margin-bottom: 1rem; }
      section.SectionExperiencia .container .cardWork h4 span {
        color: #7B4AE2;
        font-size: 20px; }
    section.SectionExperiencia .container .cardWork ul.proyectsWorked {
      padding-top: 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      section.SectionExperiencia .container .cardWork ul.proyectsWorked li {
        background-color: transparent;
        font-size: 14px;
        padding-left: 0;
        margin: 0; }
        section.SectionExperiencia .container .cardWork ul.proyectsWorked li::before {
          content: "";
          display: inline-block;
          background-color: #9A9A9A;
          height: 2px;
          width: 2px;
          margin-bottom: 3px;
          margin-right: 0.5rem; }
        section.SectionExperiencia .container .cardWork ul.proyectsWorked li:first-child::before {
          display: none; }
        section.SectionExperiencia .container .cardWork ul.proyectsWorked li a {
          color: #9A9A9A;
          font-size: 14px; }
          section.SectionExperiencia .container .cardWork ul.proyectsWorked li a::before {
            content: "";
            display: inline-block;
            height: 10px;
            width: 10px;
            background-image: url("../imagen/icon/icon_link.svg");
            margin-right: 3px;
            filter: brightness(3); }
          section.SectionExperiencia .container .cardWork ul.proyectsWorked li a::after {
            content: "";
            display: inline-block;
            border: 2px solid #fff;
            width: 4px;
            height: 4px;
            border-bottom: 2px solid transparent;
            border-left: 2px solid transparent;
            top: -10px;
            position: relative;
            opacity: 0; }
        section.SectionExperiencia .container .cardWork ul.proyectsWorked li:hover a::after {
          animation: arrowBtnhover .8s ease infinite; }
    section.SectionExperiencia .container .cardWork ul.tecnologyUsed {
      display: flex;
      flex-wrap: wrap;
      justify-content: end; }
      section.SectionExperiencia .container .cardWork ul.tecnologyUsed li {
        background-color: transparent;
        padding: 0 10px 0 0; }
        section.SectionExperiencia .container .cardWork ul.tecnologyUsed li img {
          width: 20px; }
    section.SectionExperiencia .container .cardWork ul.timeLineBox {
      display: flex;
      justify-content: space-between;
      position: relative;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%; }
      section.SectionExperiencia .container .cardWork ul.timeLineBox li {
        display: inline-block;
        background-color: transparent;
        color: #7B4AE2;
        margin: 0;
        padding: 1rem; }

section.SectionEducacion .container ul li {
  background-color: transparent;
  text-align: center; }
  section.SectionEducacion .container ul li span {
    color: #7B4AE2; }

section.SectionContact .container {
  text-align: center; }
  section.SectionContact .container a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #7B4AE2;
    color: #9A9A9A;
    text-decoration: none;
    border-radius: 5px; }
    section.SectionContact .container a:hover {
      color: #fff;
      transition: .3s ease; }

@keyframes arrowBtnhover {
  100% {
    transform: translate(5px, -5px);
    opacity: 1; } }
header nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px; }
  header nav ul li {
    color: #9A9A9A;
    display: inline-block; }
    header nav ul li > a {
      color: #9A9A9A;
      display: block;
      padding: 2px 5px;
      transition: 0.3s ease; }
      header nav ul li > a:hover {
        color: #7B4AE2; }

footer p {
  color: white;
  text-align: center; }

/*# sourceMappingURL=main.css.map */
