//Variables color
$azul : #17256B!important;
$rojo : #A71135!important;
$blanco : white!important;

@mixin font-face($weight) {
    font-family: "Roboto Condensed", sans-serif!important;
    font-optical-sizing: auto!important;
    font-weight: $weight!important;
    font-style: normal;
  }
*{
    padding: 0;
    margin: 0;
    text-decoration: none!important;
    @include font-face(400);
}
h1,h2,h3,h4,h5,h6{
    @include font-face(900);
    color: $rojo;
    span{
        @include font-face(900);
        
    }
}
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900


.container{
    width: 100%!important;
    @media screen and (min-width:576px) {
        width: 90%!important;
    }
    @media screen and (min-width:768px) {
        width: 80%!important;
    }
}

@import url('owl/owl.carousel.min.css');
@import url('owl/owl.theme.default.min.css');
.card{
    background: none;
    border: 0;
}
.v-one{
    .card-title{
        color: #A71135;
        span{
            color: $blanco;
            display: block;
        }
    }
    .card-text{
        color: $blanco;
    }
}

header{
    background-image: url('../images/bg-main-menu-nav.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    nav{
        padding-top: 0!important;
        padding-bottom: 0!important;
        .navbar-brand{
            width: 130px;
            
            img{
                width: 100%;
            }
        }
        .menu-box{
            ul{
                // display: inline-block;
                text-align: center;
                li{
                    a{
                        color: $blanco;
                    }
                }
            }
            .navbar-login{
                padding: 0;
                li{
                    
                    text-align: center;
                    a{
                        color: $azul;
                        background-color: $blanco;
                        display: block;
                        padding: 10px 10px 0 10px;
                        position: relative;
                        img{
                            width: 70px;
                        }
                        span{
                            display: block;
                            @include font-face(900);
                        }
                        ::after{
                            content: "";
                            background-color: $blanco;
                            display: block;
                            width: 100%;
                            height: 5px;
                            border: 2px solid;
                            position: absolute;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
}

section.baner-principal{
    background-image: url("../images/main-img-banner-1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .container{
        background: none;
        .card-body{
            .card-title{
                font-size: 60px;
            }
            .btn{
                background-color: $azul;
                border-color: #B2965F!important;
                border:2px solid;
                color: $blanco;
                font-weight: bold;
                font-size: 25px;
                border-radius: 16px;
                padding: 8px 17px;
                span{
                    display: inline-block;
                    width: 30px;
                    img{
                        width: 100%;
                        vertical-align: inherit;
                    }
                }
            }
        }
    }
}
section.n_views{
    background-image: url("../images/red-cinta8202024.png");
    background-size: cover;
    background-repeat: no-repeat;
    .container{
        padding-top: 2rem;
        padding-bottom: 2rem;
        .row{
            p{
                color: $blanco;
                margin: 0;
                @include font-face(900);
                font-style: italic;
                font-size: 45px;
                span{
                    @include font-face(900);
                }
            }

        }
    }
}
@mixin fontTitle{
    font-size: 45px;
    font-weight: bolder;
    @media screen and (min-width:768px) {
        font-size: 65px;
    }
}
section.about_us{
    background-image: url("../images/baner-about-us.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    .container{
        background: none;
        .row{
            div{
                div{
                    .card-title{
                        @include fontTitle();                        
                    }
                }
            }
        }
    }
}

section.whats_bulls_pedia{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    .container{
        background: none;
        .row{
            div{
                div{
                    .card-title{
                        @include fontTitle();
                    }
                }
            }
        }
    }
}
section.register_comunity{
    .container{
        form{
            margin: 0;
        }
    }
}
section.the_best_american_bullies{
    background-size: cover;
}
section.future-products{
    background-size: cover;
}
section.the_best_events{
    padding-left: 0;
    padding-right: 0;
    img{
        width: 100%;
    }
}
footer{
    position: relative;
    .tag-side-span{
        display: block;
        position: absolute;
        z-index: 1;
        color: $blanco;
        top: 50%;
        font-size: 35px;
        &.tag-left{
            transform: rotate(270deg);
            left: 0;
        }
        &.tag-right{
            transform: rotate(90deg);
            right: 0;
        }    
    }
    .img-bg-footer{
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        display: block;
        z-index: -1;
    }
}